*.iml
.gradle
/.idea
.DS_Store
/build
/app/build
/BDVoiceLib/build
/openCVLibrary330/build
/Updatelibrary/build
/captures
/native
.externalNativeBuild
local.properties
/native
*/obj
gradle.properties

gradle.properties
gradle.properties
